html, body {
	
	font-family: arial;
	font-size: 30pt;
	color: #F0FFFF;
	
	width:100%;
    text-align: center;
	margin:0 auto;
    /*background-color: #04243A;*/
	background: linear-gradient(#006666,#003366);

}

header {
    position:relative;
    margin:0;
    padding:0;
    
	width: 100%;
    max-height: 270px;	
	/*background: linear-gradient(#04243A, yellow);*/
}

header img{
	display:block;
	width:50%;
    max-width: 651px;	
    max-height: 270px;	
	margin:0 auto;
}

/*.external
{
	color: white;
	
}*/
a:hover{
	color: white;
}

.content
{

	text-align: left;
	font-size: 12pt;
}

.Courses
{

    text-align: left;
	font-size: 10pt;
}
nav {
	
	background: url(../assets/star.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*width: 100%;*/
	
}
.footerbackground{
	background: url(../assets/footer_background.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}

/*ul.navbar {
	margin:0 auto;
	list-style-type: none;
    text-align: center;
    background-color: #222;
}

li.navbar {
	
	width: 20%;
	max-width:200px;	
	display: inline-block;
	text-align: center;
	line-height: 50px;	
}*/

/*li.navbar a {
	
	display: block;
	color:#ccc;
	text-decoration: none;
	
}

li.navbar a:hover {
	
	color:#777;
	background-color:#e4e4e4;
	text-decoration: none;
	
}*/

ul.curri {
	 padding-left:10%;
}

li.curri {
    
    font-size: 20px;
    text-align: left;
}

ul.info {
    padding-left:10%;
	text-align: left;
}

li.info {
    
    font-size: 20px;
    margin-bottom:45px;
}

ul.info2 {
    padding-left:5%;
    margin-top:10px;
}

li.info2 {
    font-size: 20px;
    margin-bottom:10px;
}


.container {
    position:relative;
    margin:0;
    padding:0;
    
    left:5%;
    width:90%;
    height:auto;
    /*min-height:400px;*/
    color:#fff;
    
}

footer {
    position:relative;
    margin:0;
    padding:0;
    
    width:100%;
    /*height: 90px;*/
    background-color:#222;
    text-align: center;
    line-height: 100px;
}

/* CONTENT OF EACH PAGE */
h1, h2 {
    margin:0;
    padding:0;
	margin-left: 5%;
}

h1 {
    
    font-size:45px;
}

p, .subcontent {
    margin-left: 5%;
    margin-right: 5%;
	font-size: 20px;
}

.logo {
    display:inline-block;
	height : 60px;
    margin-top:5px;
    margin-bottom:-5px;
}

.index-p1 {
    margin-top:20px;
}

.first {
	margin-left: 5%;
}

.blocks {

	float:		left;
    margin-top: 2%;
	width:  	20%;

	text-align: center;
}

.block-img {
    left:2%;
    width: 96%;
}

.space {
    display:block;
    margin-top:20px;
    width:100%;
    height:100px;
    
    /*background-color: #f00;*/
}

.space2 {
    display:block;
    margin-top:20px;
    width:100%;
    height:50px;
    
    /*background-color: #f00;*/
}

.soloLink {
    
    color: white;
    text-decoration: none;
    
}

.soloLink:hover {
    
    color: #09c;
    text-decoration: none;
    
}

@media screen and (min-width:768px)
{	
	.blocks {
	
		float:		left;
		width:  	50%;
		/*height: 	200px;*/
		text-align: center;
	}
		.navbar .navbar-nav {
		display: inline-block;
		float: none;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}

}

@media screen and (min-width:351px) and (max-width:767px)
{
	header {
		height:auto;
		max-height:auto;
	}
	
	.center-header {
		display:block;
		width:100%;
		margin:0 auto;
	}
	
	
	ul {
		margin:0;
		padding:0;
	}
	
	li {
		width:100%;
		max-width:100%;
	}
	
	h1, h2 {
		margin-left: 5%;
		text-align: center;
		font-size: 28px;
	}
	
	p {
		margin-left: 5%;
		font-size: 20px;
	}
	/*ul.navbar{
		font-size: 14px;
	}*/
	
	.first {
		margin-left: 0;
	}
	
	.logo {
		width : 90%;
		margin-left: 5%;
	}
	
	.blocks {
	
		float:		left;
		width:  	70%;
		margin-left: 15%;
		height: 	180px;
		text-align: center;
	}
}

@media screen and (min-width:0) and (max-width:350px)
{
	header {
		height:auto;
		max-height:auto;
	}
	
	.center-header {
		display:block;
		width:100%;
		margin:0 auto;
	}	
	
	ul {
		margin:0;
		padding:0;
	}
	
	li {
		width:100%;
		max-width:100%;
	}
	
	h1, h2 {
		margin-left: 5%;
		text-align: center;
		font-size: 20px;
	}
	
	p {
		margin-left: 5%;
		font-size: 20px;
	}
	/*ul.navbar{
		font-size: 10px;
	}*/
	
	.first {
		margin-left: 0;
	}
	
	.logo {
		width : 90%;
		margin-left: 5%;
	}
	
	.blocks {
	
		float:		left;
		width:  	70%;
		margin-left: 15%;
		height: 	180px;
		text-align: center;
	}
}

.toi{
	width:15%;
	position: absolute;
	left: 10%;
	top: 0px;
}