		<!--<footer>
			<img class="index-img logo" alt="boppoly" src="assets/boplogo.jpg">
			<img  class="index-img logo" alt="waikato" src="assets/uowlogo.gif">
		</footer>		-->
		<footer class="footer-distributed footerbackground">

		<div class="footer-left">

		<img class="index-img logo" alt="boppoly" width="150" src="assets/to.png">
			<img  class="index-img logo" alt="waikato" src="assets/uowlogo.gif">
				<p class="footer-links">
					<a href="index.html">Home</a>
					·
					<a href="quicklinks.html">Links</a>
					·
					<a href="info.html">Info</a>
					·
					<a href="https://drive.google.com" target="_blank">Google Drive</a>			
				</p>

				<p class="footer-company-name">TOI-OHOMAI Institute of Technology</p>

				<div class="footer-icons">

					<a target="_blank" href="https://www.facebook.com/toiohomai"><i class="fa fa-facebook"></i></a>
					<a target="_blank" href="https://to-bcs.slack.com"><i class="fa fa-slack"></i></a>
					<a target="_blank" href="https://www.linkedin.com/company-beta/15201307/?pathWildcard=15201307"><i class="fa fa-linkedin"></i></a>
					<a target="_blank" href="https://github.com/"><i class="fa fa-github"></i></a>
					<a href="Privacy.html" style="background: transparent">Privacy</a>
				</div>
			</div>

			<div class="footer-right">
				
				<p>Contact Us</p>
				<form action="#" method="post">
					<input type="text" name="email" placeholder="Email" />
					<textarea name="message" placeholder="Message"></textarea>
					<button>Send</button>
				</form>
			</div>
		</footer>