
    <header>
        <img class="pando"  alt="Pandora Logo" src="assets/Flax.png">	
    </header>
    <img class="toi" alt="TOI Logo" src="assets/toi.png"/>

    <div class="container-fluid">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid center">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                      <li><a href="curri.html">Curriculum</a></li>
                    <li><a href="quicklinks.html">Links</a></li>
                    <li><a href="info.html">Info</a></li>
                    <li><a href="https://drive.google.com" target="_blank">Google Drive</a></li>
                </ul>
            </div>
        </nav>
    </div>

    		<!--<input name="search_block_form" title="Enter the terms you wish to search for." 
		class="apachesolr-autocomplete form-text form-autocomplete" id="edit-search-block-form--2" 
		type="text" size="15" maxlength="128" value="" autocomplete="off" 
		data-apachesolr-autocomplete-id="search-block-form" />-->